DATABASE_URL=postgresql://postgres:postgres@localhost:5432/hyrule_guessr

AUTH_SECRET=
AUTH_URL=http://localhost:3000

NEXT_PUBLIC_PARTYKIT_HOST=127.0.0.1:8787
SESSION_ROOM_URL=http://127.0.0.1:8787
SESSION_ROOM_SECRET=